.learning {
  max-width: 1000px;
  margin: auto;
  padding: 70px 40px;
}

.learning h1 {
  font-size: 38px;
  margin-bottom: 15px;
}

.learning h2 {
  font-size: 27px;
  margin-bottom: 10px;
}

.learning .intro {
  font-size: 18px;
  line-height: 1.8;
  margin-bottom: 45px;
}

.learning section {
  margin-bottom: 35px;
}

.learning p {
  font-size: 17px;
  line-height: 1.8;
}