* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#navbar {
  height: 60px;
  width: 100%;
  background-color: purple;

  display: flex;
  align-items: center;
  justify-content: space-between;
  border-radius: 30px;

  padding: 0 60px;
}

#icon {
  margin: 0;
  font-size: 28px;
}

#icon span {
  color: rgb(1, 110, 252);
}

#navright {
  display: flex;
  align-items: center;
  gap: 60px;
}

.nav {
  font-size: 18px;
  text-decoration: none;
  color: white
}